Project FILIÈRE RECHERCHE

Under the supervision of :

Elisabeth Lahalle

Students :

- Ricardo Chiquetto do Lago
- Maxsuel Fernandes de Almeida
- Samara Ndiaye
- Ana Cecilia Reghini
- Lucas Tramonte

# Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import statsmodels.api as sm

# Data

In [2]:
data = pd.read_csv("Assets//Data//2015_months_DebitDoseA.csv")

In [3]:
data

       24/02/2015 11:20  30/04/2015 13:10  22/06/2015 07:31  20/10/2015 09:18
0               92.8536          96.38690          96.98370          104.8191
1               91.8084          95.68260          96.33440          103.6979
2               93.3221          97.17039          96.67419          104.6446
3               91.7464          97.41650          97.40680          104.3136
4               93.4146          97.39280          97.60400          104.5342
...                 ...               ...               ...               ...
40314          103.1037          97.12400         101.08090           97.3781
40315          102.4074          98.34760         100.19280           98.0843
40316          103.0529          98.91140         101.56070           99.6903
40317          102.9746          98.82339         101.22470          100.9240
40318          102.8289          98.77700         101.90270          102.7918

[40319 rows x 4 columns]